$primaryColor: #282c34;
$accentColor: #ffffff;

.App{
    background-color: $primaryColor;
    color: $accentColor;
    font-size: calc(10px + 2vmin);

    .form{
        flex-direction: column;
        min-height: 100vh;
        text-align: center;
        align-items: center;
        justify-content:center ;
    }
    
    .home{
        flex-direction: column;
        min-height: 100vh;
        text-align: center;
        align-items: center;
        position: relative;
        .col-home{
            position: absolute;
            top: 50%; 
            h1{
                margin-bottom: 20px;
            }
            h6{
                margin-bottom: 20px;
            }
        }
    }

    .navbar-container{
        padding-left: 5px;
        padding-right: 5px;
    }

    .btn-custom{
        color: $primaryColor;
        background-color: $accentColor;
        font-weight: 500;
    }
}
